    <div>
      <h4 style="color: #fff; margin-bottom: 16px; font-size: 1.1rem;">项目</h4>
      <ul style="list-style: none; padding: 0; line-height: 1.8;">
        <li><a href="" style="color: #aaa; text-decoration: none;">测试</a></li>
      </ul>
    </div>

      
    <div>
      <h4 style="color: #fff; margin-bottom: 16px; font-size: 1.1rem;">开发</h4>
      <ul style="list-style: none; padding: 0; line-height: 1.8;">
        <li><a href="https://www.tcptest.cn/http" style="color: #aaa; text-decoration: none;">测速</a></li>
      </ul>
    </div>
  </div>


    <div>
      <h4 style="color: #fff; margin-bottom: 16px; font-size: 1.1rem;">图床</h4>
      <ul style="list-style: none; padding: 0; line-height: 1.8;">
        <li><a href="https://111666.best" style="color: #aaa; text-decoration: none;">16图床</a></li>
          <li><a href="https://imgchr.com" style="color: #aaa; text-decoration: none;">路过图床</a></li>
      </ul>
    </div>
  </div>

  <div style="text-align: center; margin-top: 50px; padding-top: 20px; border-top: 1px solid #333; font-size: 0.8rem; color: #666;">
    <p>© {{ 'now' | date: '%Y' }} {{ site.social.name }}. Some rights reserved.</p>
    <p>保留所有权利</p>
    <p><a href="https://icp.gov.moe/?keyword=20267676" target="_blank" style="color: #888; text-decoration: none;">萌ICP备20267676号</a></p>
  </div>
</footer>
